---
import Layout from '~/layouts/PageLayout.astro';
import ContactMapSection from '~/components/ContactMapSection.astro';
---

<Layout metadata={{ title: 'Distributor Map Test' }}>
  <main>
    <ContactMapSection />
  </main>
</Layout>
